@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', sans-serif;
    text-align: center;
}

.circle{
    width: 250px;
    height: 250px;
    display:inline-block;
    align-content: center;
    border:5px solid black;
}

#top-left{
    border-top-left-radius: 250px;
    background-color: darkgreen;
    margin: -10px;
}

#top-right{
    border-top-right-radius: 250px;
    background-color: darkred;
    margin: -10px
}

#bottom-left{
    border-bottom-left-radius: 250px;
    background-color:darkgoldenrod;
    margin: -10px;

}

#bottom-right{
    border-bottom-right-radius: 250px;
    background-color: darkblue;
    margin: -10px
}


button{
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

#turn {
    width: 50px;
    height: 30px;
    background-color: lightgray;
    border: 2px solid black;
    
}


